body{
    width:100%;
    box-sizing: border-box;
    margin: 0;
}

section{
    
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
   
}

#t01, #t01 td:not(#last), #t01 th{
    border-collapse: collapse;
    border: 1px solid brown;
    border-left: none;
    border-right: none;
    width: 50%;
    justify-self: center;
}

#last{
    font-style: italic;
    text-align: center;
}

td:nth-child(2){
    text-align: center;
}

.caption01{
    padding: 0.5rem;
}

td{
    padding: 0.3rem;
}






    

}



 */ */ */
